@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-formButtonPrimary {
    font-size: 14px;
    text-transform: none;
    background-color: #611bbd;
  }
  
  .cl-formButtonPrimary:hover,
  .cl-formButtonPrimary:focus,
  .cl-formButtonPrimary:active {
    background-color: #49247a;
  }